extends layoutHome

block content
    //TopPage
    div#topSection
        div.titles
            h1= title
        img#logoTop(src="images/LogoBenedict.png", alt="Benedict Kempkes")
        div.titles
            h1 Web Developer
    //BottomPage
    div#bottomSection
        div.container-flip
            div.card
                figure.front(style='background-color:#b37d4e')
                    img.logoBottom(src="images/LogoAngular.png", alt="AngularJS Logo")
                figure.back
                    h2 Persönlicher Blog
                    ul
                        li Ein Blog rund um mein Leben.
                        li Themen: Filme, Serien, Bücher, Sport und Aktivitäten.
                        li Verwendete Technlogie: AngularJS, Bootstrap.
                    br
                    a(href='/angular') Zeig mir mehr!
        div.container-flip
            div.card
                figure.front(style='background-color:#cd5360')
                    img.logoBottom(src="images/LogoReact.png", alt="ReactJS Logo")
                figure.back
                    h2 Ziel Verfolgung
                    ul
                        li Eine App, die hilft seine eigenen Ziele zu erreichen.
                        li Egal, ob Ziele für den Tag, den Monat oder das Jahr.
                        li Verwendete Technlogie: ReactJS.
                    br
                    a(href='react') Zeig mir mehr!
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="javascripts/home.js")