extends layoutHome

block content
    //TopPage
    div#topSection
        div.titles
            h1= title
        img#logoTop(src="images/LogoBenedict.png", alt="Benedict Kempkes")
        div.titles
            h1 Web Developer
    //BottomPage
    div#bottomSection
        div.container-flip
            div.card
                figure.front(style='background-color:#b37d4e')
                    img.logoBottom(src="images/LogoAngular.png", alt="AngularJS Logo")
                figure.back
                    h2 Personal Blog
                    ul
                        li Blogs about sport
                        li Blogs about games
                        li Blogs about activities
                        li Blogs about achievments
                        li Developed with AngularJS, Bootstrap and MongoDB
                    button More Info
        div.container-flip
            div.card
                figure.front(style='background-color:#cd5360')
                    img.logoBottom(src="images/LogoReact.png", alt="ReactJS Logo")
                figure.back
                    h2 Tracking Goals
                    ul
                        li Goals per Week
                        li Goals per Month
                        li Goals per Year
                        li Developed with ReactJS
                    button More Info
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="javascripts/home.js")