doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="description", content ="Page about Benedict Kempkes")
    meta(name="author", content="Benedict Kempkes")
    meta(name="keywords", content="Benedict Kempkes, Web Developer, Frontend Developer")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //style sheets
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lobster')
  body
    block content
    
