extends layoutAngular

block content
    div(ng-app="angularApp")
        a(href="/angular/layout1") Hallo
        ng-view
        p Hallo Welt
        
    //Load scripts
    //Modules
    script(src="javascripts/angular/angular.js")
    
    //Controllers
    script(src="javascripts/angular/controllers/layout1Controller.js")
    script(src="javascripts/angular/controllers/viewController.js")
    //services