html {
    height: 100%;
}

body {
    font-family: 'Lobster', cursive;
    background-color: #286da8;
    height: 100%;
    margin: 0px;
}

h1{
    color: white;
    border: 1px solid white;
    padding: 10px;
}


/* Style of the bottom page*/
#topSection {
    height: 30%;
    text-align: center;
    padding: 0% 5%;
}

.titles{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding: 100px 10%;
}

#logoTop {
    width: 20%;
    margin: 2% 0%;
}
/* Style of the bottom page*/
#bottomSection {
    height: 70%;
    text-align: center;
}

.container-flip {
    width: 40%;
    height: 85%;
    margin: 2%;
    display: inline-block;
    perspective: auto;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 3s;
    transition: transform 3s;
}

.card figure {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    margin: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.back {
    transform: rotateY(180deg);
}


.flipped {
    transform: rotateY(180deg);
}

.logoBottom {
    width: 90%;
}

/* Responsive design*/
@media only screen and (max-width: 768px)  {
    #topSection{
        height: auto;
    }
    .titles{
        width: 100%;
        height: auto;
        display: block;
        padding: 50px 0%;
    }
    #logoTop{
        width: 100%;
    }
    #bottomSection{
        height: 100%;
    }
    .container-flip{
        margin: 10%;
        width: 80%;
        height: 50%;
        display: block;
    }
}

@media only screen and (min-width: 769px)  {
    #topSection{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
}
